@import "../../../styles/constants.scss";

.wrapper {
  .container {
    position: relative;
    .goBack {
      position: absolute;
      top: -3rem;
      left: 0;
      text-align: center;
      cursor: pointer;
    }
    .content {
      @media (max-width: $lg) {
        padding: 0 1.5rem;
      }
      @media (max-width: $md) {
        padding: 0;
      }
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 0 5rem;
      width: 100%;
      img {
        width: 100%;
      }
      .heading {
        color: #3e5d90;
      }
      .infoTitle {
        color: #16285c;
      }
      .basicInfo {
        display: flex;
        column-gap: 2rem;
        row-gap: 3rem;
        justify-content: space-between;
        flex-wrap: wrap;
        .infoSection {
          display: flex;
          flex-direction: column;
        }
      }
      .proj_section {
        .sectionTitle {
          color: #3e5d90;
          font-weight: 700;
          font-size: 2rem;
        }
        .vertical {
          flex-direction: column;
        }
        #overview {
          @media (max-width: $sm) {
            flex-direction: column-reverse;
            gap: 0;
          }
        }
        #client_meeting {
          display: flex;
          gap: 2rem;
          @media (max-width: $sm) {
            flex-direction: column-reverse;
            gap: 0;
          }
        }
        .section_content {
          display: flex;
          gap: 2rem;

          p {
            margin-top: 1rem;
          }
          .infoTitle {
            line-height: 2rem;
            margin-top: 1rem;
          }
          #dac {
            padding-top: 3rem;
          }
          .section_horizontal {
            @media (min-width: $xl) {
              flex-basis: auto;
            }
            flex-basis: fit-content;
          }
          .section_vertical {
          }
        }
      }
    }
  }
}
