@import "../../../styles/constants.scss";

.wrapper {
  .container {
    position: relative;
    .goBack {
      @media (max-width: $sm) {
        top: -2rem;
      }
      position: absolute;
      top: -3rem;
      left: 0;
      text-align: center;
      cursor: pointer;
    }
    .content {
      @media (max-width: $lg) {
        padding: 0 1.5rem;
      }
      @media (max-width: $md) {
        padding: 0;
      }
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 0 10rem;
      width: 100%;
      img {
        width: 100%;
      }
      .heading {
        color: #3e5d90;
      }
      .infoTitle {
        color: #16285c;
        font-weight: bold;
      }
      .basicInfo {
        display: flex;
        column-gap: 2rem;
        row-gap: 3rem;
        justify-content: space-between;
        flex-wrap: wrap;
        .infoSection {
          display: flex;
          flex-direction: column;
        }
      }
      .proj_section {
        .sectionTitle {
          color: #3e5d90;
          font-weight: 700;
          font-size: 2rem;
        }
        .vertical {
          flex-direction: column;
        }
        #overview {
          @media (max-width: $sm) {
            flex-direction: column-reverse;
            gap: 0;
          }
        }
        #client_meeting {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
        #client_meeting_pt1,
        #client_meeting_pt2,
        #brainstorming,
        #exposition {
          display: flex;
          gap: 2rem;
          @media (max-width: $md) {
            flex-direction: column-reverse;
            gap: 0;
          }
        }
        #brainstorming {
          flex-direction: row;
        }
        #client_meeting_pt2,
        #exposition,
        #brainstorming {
          @media (max-width: $md) {
            flex-direction: column;
            gap: 2rem;
          }
        }

        #affnity_diagram {
          margin-top: 2rem;
        }
        .section_content {
          display: flex;
          gap: 2rem;

          p {
            margin-top: 1rem;
          }
          .note {
            color: #3e5d90;
            font-size: 0.85rem;
          }

          .infoTitle {
            line-height: 2rem;
            margin-top: 1rem;
          }
          #dac {
            padding-top: 3rem;
          }
          #low_fi {
            @media (max-width: $md) {
              padding: 0;
            }
            margin-top: 1rem;
            padding: 0 15%;
            background: white;
          }
          .section_horizontal {
            flex-basis: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .photos {
            @media (max-width: $md) {
              grid-template-columns: 1fr;
              gap: 1rem;
            }
            margin-top: 2rem;
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;
          }
          .hi_fi {
            margin: 2rem 0 6rem 0;

            .hi_fi_title {
              @media (max-width: $md) {
                font-size: 1.5rem;
              }
              display: flex;
              justify-content: center;
              text-align: center;
              margin-bottom: 1.5rem;
              font-size: 2rem;
              font-weight: bold;
              color: #3e5d90;
            }
            .product_showcase {
              @media (max-width: $sm) {
                gap: 1rem;
              }
              display: flex;
              gap: 3rem;
              .showcase_col {
                @media (max-width: $sm) {
                  gap: 1rem;
                }
                display: flex;
                flex-direction: column;
                gap: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
