@import "../../styles/constants.scss";

.wrapper {
  .container {
    position: relative;
    z-index: 1;
    img {
      position: absolute;
      z-index: -1;
    }

    .role {
      position: relative;
      text-align: center;

      @keyframes move-down {
        0%,
        20%,
        80%,
        100% {
          transform: translateY(0);
        }
        30%,
        70% {
          transform: translateY(50%);
        }
      }

      @keyframes move-up {
        0%,
        20%,
        80%,
        100% {
          transform: translateY(0);
        }
        30%,
        70% {
          transform: translateY(-50%);
        }
      }

      @keyframes fade-out {
        0%,
        20%,
        80%,
        100% {
          opacity: 1;
        }
        30%,
        70% {
          opacity: 0;
        }
      }

      @keyframes fade-out-fast {
        0%,
        20%,
        80%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }

      @keyframes fade-in {
        0%,
        29%,
        71%,
        100% {
          opacity: 0;
        }
        35%,
        65% {
          opacity: 1;
        }
      }

      #uxd_text {
        font-weight: bold;
        animation: move-down 8s linear infinite, fade-out 8s linear infinite;
      }

      #fed_text {
        font-weight: bold;
        animation: move-up 8s linear infinite, fade-out 8s linear infinite;
      }

      #uxe_text {
        opacity: 0;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fade-in 8s linear infinite;
      }

      #plux_text {
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fade-out-fast 8s linear infinite;
      }
    }

    .introduction {
    }
  }
}
